<!--HTML Produced By The Flask Form-->
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {% if form.first_name %}
        <fieldset id="first_name-field">
            {{ form.first_name.label }}
            {{ form.first_name(class = "form-control", placeholder = "Enter First Name Here...")}}
        </fieldset>

        <fieldset id="last_name-field">
            {{ form.last_name.label }}
            {{ form.last_name(class = "form-control", placeholder = "Enter Last Name Here...")}}
        </fieldset>
        {% endif %}
        <fieldset id="email-field">
            {{ form.email.label }}
            {{ form.email(class = "form-control", placeholder = "Enter Email Here...")}}
        </fieldset>

        <fieldset id="pass-field">
            {{ form.password.label }}
            {{ form.password(class = "form-control", placeholder = "Enter Password Here...")}}
        </fieldset>

        <!--Submit Button Area-->
        {{ form.submit_button(class = "btn btn-primary btn-block") }}
    </div>
</form>